<div class="page-width">
  
  <div class="goals-specific-bundles">
    <div class="bundles-header">
      <div>Bundles</div>
      <div class="tab-links-wrapper">
        <div class="tab-links-wrapper-inner">
          {% for collection in section.settings.goal_specific_bundles  %}
            <div class="tab-link{% if forloop.first %} tab-link-active{% endif %}" data-links="prev-next-buttons-for-{{ collection.handle }}" data-for="goals-specific-bundles-{{ collection.handle }}">{{ collection.title }}</div>
          {% endfor %}
        </div>
      </div>
      <div>
        {% for collection in section.settings.goal_specific_bundles  %}
          <!-- Additional required wrapper -->
          <div class="prev-next-buttons{% if forloop.first %} prev-next-buttons-active{% endif %}" data-id="prev-next-buttons-for-{{ collection.handle }}">
            <div>
              View All Bundles
            </div>
            <div>
              <!-- If we need navigation buttons -->
              <div class="custom-swiper-button-prev-for-bundle-{{ collection.handle }}">Prev</div>
              <div class="custom-swiper-button-next-for-bundle-{{ collection.handle }}">Next</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  
    <div class="tab-contents-wrapper">
      {% for collection in section.settings.goal_specific_bundles %}
        <div class="tab-content{% if forloop.first %} tab-content-active{% endif %}" data-id="goals-specific-bundles-{{ collection.handle }}">
          <!-- Slider main container -->
          <div class="swiper custom-sepcific-bundles bundle-for-{{ collection.handle }}">
            
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for product in collection.products limit: 10 %}
                <div class="swiper-slide" style="background-color: #f7f6f4">
                  <div class="product-card">
                    <a href="{{ product.url }}">
                      <div class="image-and-label-wrapper">
                        <div class="image-wrapper goal-specific-bundle-product-image-wrapper">
                          <img  src="{{ product.featured_image | image_url: width: 4000  }}"  alt="{{ product.title }}">
                        </div>
                      </div>
                    </a>
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.price | money }}</p>
                  </div>
                </div>
              {% endfor %}   
            </div>
          </div>


            <script>
              new Swiper('.bundle-for-{{ collection.handle }}', {
              // Optional parameters
              direction: 'horizontal',
              loop: true,
              slidesPerView: 1,
              spaceBetween: 10,
              // Responsive breakpoints
              breakpoints: {
                // when window width is >= 320px
                320: {
                  slidesPerView: 2,
                  spaceBetween: 20
                },
                // when window width is >= 480px
                480: {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                // when window width is >= 640px
                640: {
                  slidesPerView: 4,
                  spaceBetween: 40
                }
              },
            
              // Navigation arrows
              navigation: {
                nextEl: '.custom-swiper-button-next-for-bundle-{{ collection.handle }}',
                prevEl: '.custom-swiper-button-prev-for-bundle-{{ collection.handle }}',
              },
            
            });
            </script>
          
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  Array.from(document.querySelector('.goals-specific-bundles').querySelectorAll('.tab-link')).forEach(tabLink => {
    tabLink.addEventListener('click', () => {
      document.querySelector('.goals-specific-bundles').querySelector('.tab-link-active').classList.toggle('tab-link-active')
      if(!tabLink.classList.contains('tab-link-active')) tabLink.classList.add('tab-link-active')
      document.querySelector('.goals-specific-bundles').querySelector('.tab-content-active').classList.toggle('tab-content-active')
      const targetTabContent = document.querySelector(`div[data-id="${tabLink.getAttribute('data-for')}"]`)
      targetTabContent && !targetTabContent.classList.contains('tab-content-active') && targetTabContent.classList.add('tab-content-active')
    })
  })
</script>

<style>
  
  .goal-specific-bundle-product-image-wrapper{
    overflow:hidden;
  }

  .image-and-label-wrapper{
    padding: 32px;
  }

  .goal-specific-bundle-product-image-wrapper img{
    width:100%;
    height:100%;
  }
  
  .goals-specific-bundles .tab-links-wrapper-inner{
    display:flex;
    gap: 40px;
  }
  .bundles-header{
    display:flex;
  }
  
  .goals-specific-bundles .tab-link{
    padding-bottom: 8px;  
    font-size: 14px;
  }  
  .goals-specific-bundles .tab-link:hover{
    cursor:pointer;
    border-bottom: 1px solid black;
  }
  
  .goals-specific-bundles .tab-link-active{
    border-bottom: 1px solid black;
  }

  .goals-specific-bundles .tab-content{
    display:none;
  } 
  .goals-specific-bundles .tab-content.tab-content-active{
    display:block;
  }  
  
</style>




{% schema %}
  {
    "name": "Custom Specific Bundles",
    "settings": [
      {
        "type": "collection_list",
        "id": "goal_specific_bundles",
        "label": "Choose Collections"
      }
    ],
    "presets": [
      {
        "name": "Custom Specific Bundles"
      }
    ]
  }
{% endschema %}