<div class="page-width">
  
  <div class="goals-specific-bundles">
    <div class="bundles-header">
      <div>Bundles</div>
      <div class="tab-links-wrapper">
        <div class="tab-links-wrapper-inner">
          {% for collection in section.settings.goal_specific_bundles  %}
            <div class="tab-link{% if forloop.first %} tab-link-active{% endif %}" data-for="goals-specific-bundles-{{ collection.handle }}">{{ collection.title }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  
    <div class="tab-contents-wrapper">
      {% for collection in section.settings.goal_specific_bundles %}
        <div class="tab-content{% if forloop.first %} tab-content-active{% endif %}" data-id="goals-specific-bundles-{{ collection.handle }}">
          <!-- Slider main container -->
          <div class="swiper custom-sepcific-bundles">
            
            <!-- Additional required wrapper -->
            <div>
              <!-- If we need navigation buttons -->
              <div class="custom-swiper-button-prev">Prev</div>
              <div class="custom-swiper-button-next">Next</div>
            </div>
            
            <div class="swiper-wrapper">
              <!-- Slides -->
              {% for product in collection.products limit: 10 %}
                <div class="swiper-slide">
                  <div class="product">
                    <a href="{{ product.url }}">
                      <img src="{{ product.featured_image | image_url: width: 4000  }}"  alt="{{ product.title }}">
                    </a>
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.price | money }}</p>
                  </div>
                </div>
              {% endfor %}   
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .goals-specific-bundles .tab-links-wrapper-inner{
    display:flex;
    gap: 40px;
  }
  .bundles-header{
    display:flex;
  }
  .goals-specific-bundles .tab-link-active{
    text-decoration:underline;
  }
  
</style>

<script>
  const swiper = new Swiper('.custom-sepcific-bundles', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  slidesPerView: 1,
  spaceBetween: 10,
  // Responsive breakpoints
  breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 2,
      spaceBetween: 20
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 3,
      spaceBetween: 30
    },
    // when window width is >= 640px
    640: {
      slidesPerView: 4,
      spaceBetween: 40
    }
  },

  // Navigation arrows
  navigation: {
    nextEl: '.custom-swiper-button-next',
    prevEl: '.custom-swiper-button-prev',
  },

});
</script>


{% schema %}
  {
    "name": "Custom Specific Bundles",
    "settings": [
      {
        "type": "collection_list",
        "id": "goal_specific_bundles",
        "label": "Choose Collections"
      }
    ],
    "presets": [
      {
        "name": "Custom Specific Bundles"
      }
    ]
  }
{% endschema %}